<h1>Your friends</h1>
<ul>
  <% @friendships.each do |f| %>
    <% if f.friend == current_user %>
      <li>
        <%= f.user.email %> - <%= link_to  "remove", friendship_path(f), method: 'DELETE' %>
      </li>
    <% else %>
      <li>
        <%= f.friend.email %> - <%= link_to  "remove", friendship_path(f), method: 'DELETE' %>
      </li>
    <% end %>
      
  <% end %>
</ul>

<%= link_to  "Home", root_path %>